@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    background: rgb(240, 240, 240);
    /* background: rgb(235, 242, 239); */
    /* background: linear-gradient(338deg, rgba(235, 242, 239, 1) 0%, rgba(20, 253, 0, 0.4220281862745098) 100%); */
}

.main {
    max-width: 480px;
    margin: 0 auto;
}

.mainTextColor {
    color: rgb(60, 125, 104);
}

.borderMain {
    border-color: rgb(60, 125, 104);
}

/* border-2 px-5 py-1 rounded-full   borderMain text-white' */
.selectAmount {
    width: 95px;
    background-color: rgb(60, 125, 104);
    color: white !important;
    height: 36px;
    color: #9ca3af;
    border: 2px solid rgb(60, 125, 104);
    border-radius: 100px;
}

.unSelectAmount {
    width: 95px;
    height: 36px;
    color: #9ca3af;
    border: 2px solid rgb(60, 125, 104);
    border-radius: 100px;
}

.selectAmountDisable {
    width: 95px;
    height: 36px;
    border: 2px solid #9ca3af;
    color: #9ca3af;
    border-radius: 100px;
}

.selectAmount img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    margin-left: 4px;
}

.unSelectAmount img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    margin-left: 4px;
}

.selectAmountDisable img {
    width: 28px;
    height: 28px;
    margin-top: 2px;
    margin-left: 4px;
}